XDAI_FOREIGN_BRIDGE_PROXY=0x314CBF3F4405a2eaDe19af78773881beA37d15f8
DAI_USER_PRIVATE_KEY=
ORACLE_VALIDATOR_ADDRESS_PRIVATE_KEY=
BRIDGE_OWNER_PRIVATE_KEY=
SEPOLIA_RPC_URL="https://ethereum-sepolia-rpc.publicnode.com"
XDAI_FOREIGN_BRIDGE_IMPLEMENTATION=0xa54349c84017566afecb8ae818adc801138c6515
USDS_FOREIGN_BRIDGE_IMPLEMENTATION=0x56fb4f3ea301dc63cbbcb51e3801ccdc173c9f91